.background {
    background-color: RGBA( 0, 0, 0, 1);/*#ff0000;*/
}

.gameMenuBlock {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 120px auto;
    z-index: 2;
}

.gameMenuButton {
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
}

.gameArea {
    border: 1px solid red;
    min-width: 400px;
    min-height: 400px;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
    background-image: url("../img/space.jpg");
    overflow: hidden;
    background-size: cover;
}

.gameObject {
    position: absolute;
    background-size: cover;
    transform: rotate(0);
}

.starShip {
    background-image: url("../img/cruiser.png");
}

.bullet {
    background-image: url("../img/bullet.png");
}

.asteroid {
    background-image: url("../img/asteroid-icon-v2.png");
}

.halfTransparent {
    opacity: 0.5;
}

.scoreIndicator {
    color: red;
    font-weight: bold;
    font-size: 21px;
}

.livesIndicator {
    position: relative;
}

.livesIndicatorElement {
    position: absolute;
    background-size: cover;
    transform: rotate(-90deg);
    background-image: url("../img/cruiser.png");
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
}

.gameOverText {
    color: red;
    font-weight: bold;
    font-size: 100px;
}